@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  position: relative;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.ic-ripple-container {
  position: relative;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s cubic-bezier(.25,.8,.5,1);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}
