@import './base.css';

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  position: relative;

  font-weight: normal;
}

#app[show-header=true] {
  max-width: 1280px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.ic-ripple-container {
  position: relative;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s cubic-bezier(.25,.8,.5,1);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

/* // 手寫英文字體 */
@font-face {
  font-family: 'Shirokuma-Regular';
  src: url('@/assets/font/Shirokuma-Regular.otf') format("truetype");
}

/* // 手寫日文中文字體 - 有些字顯示不出來 ex:呦 */
@font-face {
  font-family: 'SNsanafonJ30';
  src: url('@/assets/font/SNsanafonJ30.ttf') format("truetype");
}

/* // 手寫中英文字體 - 都可以用！ */
@font-face {
  font-family: 'JasonHandwriting2';
  src: url('@/assets/font/JasonHandwriting2-Regular.woff2') format("woff2");
}